.margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

#hb-img {
  width: 100%;
}

#iot-title {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  font-family: "Jua", sans-serif;
  font-size: 28px;
}

#iot-wrapper {
  width: 100%;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 30px;
  background-color: #fff;
}

#iot-introduce {
  background-color: green;
}

#iot-introduce-left {
  display: inline-block;
  width: 50%;
  min-height: 100%;
  background-color: red; 
}


#iot-introduce-right {
  display: inline-block;
  width: 50%;
  min-height: 100%;
  text-align: left;
  vertical-align: middle;
  background-color: blue;
}

#iot-img {
  width: 100%;
}

#iot-p {
  margin: 50px;
}

#iot-button {
  margin: 0px 0px;
  background-color: indigo;
}